@model Dtos.DtoPessoa
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form name="formHome" ng-controller="homeController">




           @Html.HiddenFor(model => model.Id)

            <div>

                
                @Html.EditorFor(model => model.Nome)
                @* <span class="error" ng-show="formHome.Nome.$error.required" >Requerido!</span>*@
            </div>

            <div>
                @Html.LabelFor(model => model.Sexo)
            </div>
            <div>
                <input type="radio" name="Sexo" value="0" ng-model="DtoPessoa.Sexo" required />Masculino
                <input type="radio" name="Sexo" value="1" ng-model="DtoPessoa.Sexo" required />Feminino
            </div>

            <p>
                <input type="submit" value="Save" ng-click="salvar(this)" />
            </p>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Sexo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dto in DtoPessoas">
                            <td>{{dto.Id}} </td>
                            <td>{{dto.Nome}}</td>
                            <td>{{ (dto.Sexo === 0)  'Masculino'   }}</td>
                            <td>[ <a ng-click="editar(dto)">editar</a>] | [ <a ng-click="excluir(dto)">excluir</a>]</td>
                        </tr>
                    </tbody>
                </table>
    

</form>
@section script
{
    <script type="text/javascript" src="../../Scripts/Ui/home.js"></script>
}
